.task-item-container {
    width: 18rem;
    height: 17rem;
}

.task-form-container {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.task-form-invalid {
    border: 1px solid red;
}
